.bak
.tmp
*-workspace
.Rproj.user
figure-files/
figure-html/
.Rhistory
.RData
.Proj.user
LICOR_LOGS - Copy
01_wrangle_LICOR_logs_bak_files
03_explore_data_files
05a_data_trends_files
03_explore_data_files
README.html
